<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- [START standard_mappings] -->
    <servlet>
        <servlet-name>CustomerProfileServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.myUIServlets.CustomerProfileServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireBaseServlet</servlet-name>
        <servlet-class>com.example.YourPc.myapplication.backend.servlets.myUIServlets.FireBaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FireBaseServlet</servlet-name>
        <url-pattern>/FireBaseServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PharmacyCategoryServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.myUIServlets.PharmacyCategoryServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverProfileServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.myUIServlets.DriverProfileServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PharmacyServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.myUIServlets.PharmacyServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.myUIServlets.ProductServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryRequestServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.appServlets.DeliveryRequestServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategorytServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.myUIServlets.CategoryServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OptionServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.myUIServlets.OptionServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoiceServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.myUIServlets.ChoiceServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.myUIServlets.RestaurantServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>com.example.YourPc.myapplication.backend.servlets.myUIServlets.ItemServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.example.YourPc.myapplication.backend.servlets.appServlets.Upload
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Serve</servlet-name>
        <servlet-class>com.example.YourPc.myapplication.backend.servlets.appServlets.Serve
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.example.YourPc.myapplication.backend.servlets.myUIServlets.ImageServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDriverStateServlet</servlet-name>
        <servlet-class>
            com.example.YourPc.myapplication.backend.servlets.myUIServlets.updateDriverStateServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.example.YourPc.myapplication.backend.apiMethods.OrderAPI,
                com.example.YourPc.myapplication.backend.apiMethods.RestaurantAPI,
                com.example.YourPc.myapplication.backend.apiMethods.PharmacyAPI
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serve</servlet-name>
        <url-pattern>/Serve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmacyServlet</servlet-name>
        <url-pattern>/PharmacyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverProfileServlet</servlet-name>
        <url-pattern>/DriverProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfileServlet</servlet-name>
        <url-pattern>/CustomerProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OptionServlet</servlet-name>
        <url-pattern>/OptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorytServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantServlet</servlet-name>
        <url-pattern>/RestaurantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/ItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDriverStateServlet</servlet-name>
        <url-pattern>/updateDriverStateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoiceServlet</servlet-name>
        <url-pattern>/ChoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmacyCategoryServlet</servlet-name>
        <url-pattern>/PharmacyCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryRequestServlet</servlet-name>
        <url-pattern>/DeliveryRequestServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>OfyHelper.java</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!-- [END standard_mappings] -->

    <!-- [START Objectify] -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.example.YourPc.myapplication.backend.helpers.OfyHelper</listener-class>
    </listener>
    <!-- [END Objectify] -->
</web-app>
